@import "tailwindcss";
/* @keyframes float {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-100px); opacity: 0; }
}

.animate-float {
  animation: float 2s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; transform: translateY(10px); }
  10%, 90% { opacity: 1; transform: translateY(0); }
}

.animate-fadeInOut {
  animation: fadeInOut 4s ease;
} */
